body{
    display: flex;
    margin: 50px;
    position: relative;
}
.rose1{
    width: 430px;
    height: 600px;
    border: 2px solid pink;
    border-radius: 15px;
}
.rose2{
    position: absolute;
    width: 400px;
    height: 600px;
    left: 400px;
    top: 60px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}